ul, li {
  margin: 0;
  padding: 0; }

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dadada;
  padding: 10px;
  margin: 5px 0;
  background: #eee;
  position: relative;
  align-items: center; }
  .listItem__content {
    display: flex;
    align-items: center; }
  .listItem__number {
    font-size: 80px;
    color: #ddd;
    margin: 0 20px 0 0;
    display: block;
    width: 120px; }
  .listItem__autorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 0; }
  .listItem__img {
    width: 80px; }
  .listItem__title {
    color: #333;
    text-transform: capitalize;
    width: 250px; }
  .listItem__descr {
    width: 300px;
    color: #999;
    margin: 0 20px 0 0; }
  .listItem__link {
    text-decoration: none;
    color: #42426D;
    font-size: 30px;
    transition: all .3s; }
    .listItem__link:hover {
      transition: all .3s;
      transform: scale(1.3); }
  .listItem__btn {
    color: #999;
    font-size: 40px;
    line-height: 20px;
    margin: 0 20px 0 0;
    cursor: pointer;
    transition: all .3s; }
    .listItem__btn:hover {
      transition: all .3s;
      color: gold;
      transform: scale(1.3); }
    .listItem__btn_fav {
      color: gold; }
  .listItem__contributersBtn {
    position: absolute;
    color: #42426D;
    bottom: 5px;
    right: 39px;
    cursor: pointer; }
    .listItem__contributersBtn:hover {
      color: #6e6ea7; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .listWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .listContent {
    width: 48%; }
  .listItem {
    flex-wrap: wrap;
    box-sizing: border-box; }
    .listItem__content {
      flex-wrap: wrap; }
    .listItem__number {
      font-size: 50px;
      margin: 0 20px 0 0;
      display: block;
      width: 50px; }
    .listItem__img {
      width: 80px; }
    .listItem__title {
      width: 100%; }
    .listItem__descr {
      width: 100%;
      margin: 0 0px 20px 0; }
    .listItem__btn {
      position: absolute;
      margin: 0;
      bottom: 15px;
      right: 50px; }
    .listItem__contributersBtn {
      bottom: 15px;
      right: 15px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .listItem__title {
    word-wrap: break-word;
    font-size: 12px; }
  .listItem__descr {
    word-wrap: break-word;
    margin: 0 0px 20px 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .listContent {
    width: 100%; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
