ul, li{
  margin: 0;
  padding: 0;
}

.listItem{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #dadada;
  padding: 10px;
  margin: 5px 0;
  background: #eee;
  position: relative;
  align-items: center;
  &__content{
    display: flex;
    align-items: center;
  }
  &__number{
    font-size: 80px;
    color: #ddd;
    margin: 0 20px 0 0;
    display: block;
    width: 120px;
  }
  &__autorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 0;
  }
  &__img{
    width: 80px;
  }
  &__title{
    color: #333;
    text-transform: capitalize;
    width: 250px;
  }
  &__descr{
    width: 300px;
    color: #999;
    margin: 0 20px 0 0;
  }
  &__link{
    text-decoration: none;
    color: #42426D;
    font-size: 30px;
    transition: all .3s;
    &:hover{
      transition: all .3s;
      transform: scale(1.3);
    }
  }
  &__btn{
    color: #999;
    font-size: 40px;
    line-height: 20px;
    margin: 0 20px 0 0;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      transition: all .3s;
      color: gold;
      transform: scale(1.3);
    }
    &_fav{
      color: gold;
    }
  }
  &__contributersBtn{
    position: absolute;
    color: #42426D;
    bottom: 5px;
    right: 39px;
    cursor: pointer;
    &:hover{
      color: lighten(#42426D, 20%);
    }
  }
}






 /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  


}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.listWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listContent{
  width: 48%;
}

.listItem{
  flex-wrap: wrap;
  box-sizing: border-box;

  &__content{
    flex-wrap: wrap;
  }
  &__number{
    font-size: 50px;
    margin: 0 20px 0 0;
    display: block;
    width: 50px;
  }
  &__img{
    width: 80px;
  }
  &__title{
    width: 100%;
  }
  &__descr{
    width: 100%;
    margin: 0 0px 20px 0;
  }
  &__btn{
    position: absolute;
    margin: 0;
    bottom: 15px;
    right: 50px;
  }
  &__contributersBtn{
    bottom: 15px;
    right: 15px;
  }
}  


}






/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.listItem{
  &__title{
    word-wrap:  break-word;
    font-size: 12px;
  }
  &__descr{
    word-wrap:  break-word;
    margin: 0 0px 20px 0;
  }
}  


 
}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.listContent{
  width: 100%;
}

}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {



}






/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {




}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {



}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}