body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width: 100%;
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

a{
  outline: none;
  text-decoration: none;
}

li{
  list-style: none;
}

.hide{
  display: none !important;
}

.sortBlock{
  display: flex;
  margin: 0 0 10px 0;
}

.sortBy{
  margin: 0 15px 0 0;
  cursor: pointer;
  background: #333;
  color: #fff;
  padding: 3px 10px;
  border-radius: 20px;
}

.sortBy_active{
  padding: 3px 10px 3px 25px;
  position: relative;

}

.sortBy_active:after{
  content: "\f15d";
  font: normal normal normal 14px FontAwesome;
  left: 6px;
  top: 5px;
  color: gold;
  position: absolute;
}
